{{ define "content" }}

<div class="container-fluid">
	<div class="row" style="background: #724849">
		<div class="col-sm-12" style="min-height: 50%;">
			{{if .user}}
			<form action="/logout" method="POST">
				<input type="submit" value="Logout {{.user}}" class="btn btn-primary pull-right"/>
			</form>
			{{else}}
			<form action="/authorize" method="POST">
				<input type="submit" value="Login with Google" class="btn btn-primary pull-right"/>
			</form>
			{{end}}
			<br/>
			<h1>Welcome</h1>
		</div>
	</div>
</div>

{{end}}